upstream website {
  server {{ app_server }} fail_timeout=0;
}

server {
  location / {
    proxy_set_header X-Real-IP  $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;

    # Some app servers need to be made aware of the hostname
    proxy_set_header Host $host;

    proxy_pass http://website;
  }
}